* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html{
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Mono", monospace;
  /* 
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background: black !important;
}
.css-1oqqzyl-MuiContainer-root,.css-12uut43-MuiContainer-root{
  padding: 0;
  margin: 0;
  max-width: 100vw !important;
}
/* @media (min-width: 1200px)
{
.css-1oqqzyl-MuiContainer-root {
    max-width: 100vw !important;
}} */

@media (min-width: 600px){
.css-1oqqzyl-MuiContainer-root {
  padding: 0 !important;
  margin: 0 !important;
  
}}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    box-shadow: 0 3px 10px #333 !important;
    z-index: 100 !important;
}

::-webkit-file-upload-button{
  background: #0d6efd;
  outline: none;
  color: white;
  border: none;
  border-radius: 5px;
}

input[type="text"]{
  border: none;
  border-bottom: 1px solid #0d6efd;
}

.form_run:hover{
background: #0dfd55 !important;
}
